!!!
html
  head
    title= title
    link(rel="stylesheet", href='/css/ext-all.css' )
    link(rel='stylesheet', href='/css/silk.css')    
  body!= body
    script(src='/adapter/ext/ext-base.js')
    script(src='/js/ext-all.js')
    script(src='/js/application.js')